/* CSS Document */
 body,div,span,a,img,ul,li,p{
    margin: 0;
    padding: 0;
}
body{font-family: 黑体;}

.container{
	width: 1400px;
	background: #0384a8;
	margin: 0 auto;
}

.header{
	height: 251px;
	width: 100%;
}
.nav{
	height: 60px;
	width: 100%;
	background-color: #006986;
}
.nav li{
	float: left;
	list-style: none;
}
.nav li a{
	color: #ffffff;
	text-decoration: none;
	padding-top: 22px;
	display: block;
	height: 60px;
	width: 200px;
	text-align: center;
}
.nav li a:hover{
	background-color: #d1d4d4;
	color: #006986;
	border-radius: 5px;
	height: 38px;
}
.content1{
	height: 450px;
	width: 100%;
	background-color: #ffffff;
	
}
.content1 .left1{
	float: left;
	width: 453px;
	height: 48px;;
	margin-left: 20px;
}

span.inform{
	font-size: 30px;
	height: 400px;
	width: 100%;
}

span.notice{
	font-size: 25px;
	color: #0384a8;
}

span.more{
	font-size: 25px;
	color: #0384a8;
	float: right;
	margin-top: 15px;;
}
.line1{
	width: 451px;
	height: 5px;
	background: #0384a8;
	margin-top: 7px;
}

.raw1 ul{
	margin: 20px;
	font-size: 40px;
	color: #0384a8;
}
.raw1 ul li{
	font-size: 24px;
	margin-top: 30px;
}	

.raw1 ul li a{
	font-size: 20px;
}

.col1{color: #505252;}

.col2{
	color: #505252;
	text-decoration: none;
}

.raw1 ul li span{margin-left: 51px;}


.content1 .right1{
	float: right;
	width: 890px;
	height: 436px;;
}

.content1 .right1 .line2{
	width: 890px;
	height: 5px;
	background: #0384a8;
	margin-top: 9px;
}

.right-S {
	float: left;
	width: 380px;
	height: 311px;
	margin-top: 10px;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

.right-S p{
	font-style: 14px;
	margin-top: 24px;
	color: #000000;
}

.right-S2 {
	float: right;
	width: 470px;
	height: 311px;
	font-size: 20px;
	margin-top: 10px;
	margin-left: -20px;
}

.right-S2   a{
	text-decoration: none;
	color: #505252;
}

.right-S2 a p{
	text-indent: 3em;
	margin-top: 25px;
	margin-bottom: 16px;
}

.right-S2 ul{
	margin-left: 15px;
	margin-top: 5px;
	font-size: 20px;
	color: #0384a8;
}

.right-S2 p{
	text-indent: 2em;
	margin-bottom: 20px;
}

.right-S2 ul li{margin-bottom: 30px;}

.content2{
	height: 405px;
	width: 100%;
	background: #ffffff;
}

.content2 .left2{
	margin-left: 20px;
	float: left;
}

.content2 .left2 .line3{
	width: 571px;
	height: 5px;
	background: #0384a8;
	margin-top: 7px;
}

.left2 ul{
	margin-left: 15px;
	margin-top: 5px;
	font-size: 20px;
	color: #0384a8;
}


.left2 ul li{margin-top: 38px;}

.left2 ul li a{
	text-decoration: none;
	color: #505252;
}

.right2{
	width: 180px;
	height: 360px;
	border: 1px solid#000000;
	float: left;
	margin-left:20px ;
	text-align: center
}

.right2 p{
	font-style: 30px;
	margin-top: 20px;
	color: #0384a8;
}

.right2 .line4{
	width: 100%;
	height: 5px;
	background: #0384a8;
	margin-top: 9px;
}

.footer{
	width: 100%;
	height: 117px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}

p.first{
	padding-top: 17px;
	padding-bottom: 8px;
}

p.last{padding-bottom: 16px;}

.footer p{padding-bottom: 8px;}




















